@font-face {
  font-family: Raleway;
  src: url('/fonts/raleway_300.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url('/fonts/raleway_400.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url('/fonts/raleway_500.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 1em;
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 40em;
  font-family: Raleway, sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5;
  background-color: #131217ea;
  color: #d9d7e0;
}

h1 {
  font-weight: 300;
  font-size: 1.75em;

  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 1em;
}

h2 {
  font-weight: 300;
  font-size: 1.5em;

  margin-top: 1.5em;
}

h2 + p {
  margin-top: 0;
}

h3 {
  font-weight: 300;
  font-size: 1.25em;

  margin-top: 1.25em;
}

h3 + p {
  margin-top: 0;
}

h4 {
  font-weight: 300;
  font-size: 1em;

  margin-top: 1em;
}

h4 + p {
  margin-top: 0;
}

a {
  color: #e81c4f;
  text-decoration: none;
}

a:hover {
  font-weight: 500;
}

p {
  margin: 1em 0 1em 0;
}

footer {
  margin-top: 5em !important;
  padding-bottom: 1em;
}

footer > ul > li > a {
  font-size: 0.75em;
  color: #999999;
}

.navigation {
  user-select: none;
  margin: 1.5em 0 1.5em 0;
}

.navigation > ul {
  margin-left: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.navigation > ul > a {
  font-weight: 300;
}

.navigation > ul > li > a:hover {
  font-weight: 500;
}
